<div class="company-container vivint focus">
	<div class="header">
		<img src="assets/vivint-logo.png"/>
	</div>
	<div class="body">
			<h1>My Experience</h1>
			<ul>
				<li>CSS 1, 2, 3</li>
				<li>Javascript & jQuery</li>
				<li>Microsoft Sharepoint</li>
				<li>ASP.NET - (...learning...)</li>
				<li>IE 7/8/9</li>
				<li>HD Video Production &amp; Editing</li>
				<li>Photography</li>				
			</ul>
			<h1>My History</h1>
			<p>I was recruited by Vivint in the summer of 2013. They had an interesting position they were trying to fill.</p>
			<p>They needed someone to make <span>high quality training videos</span> for their Field Service Technicians and they had another position that needed to take the lead role in revamping their internal training site. I had done some commercial, wedding, music and travel videos and he knew I did <span>front-end web design</span>. So he brought me in to interview with his boss.<p/>
			<p>I was hired and I'm now am really busy doing both.</p>
	</div>
</div>