<div class="company-container orangesoda">
	<div class="header">	
		<img style="margin-left:-10px;" src="http://www.orangesoda.com/wp-content/themes/OrangeSoda/images/OrangeSoda-logo-whitebg.png"/>
	</div>
	<div class="body">
			<h1>My Experience</h1>
			<ul>
				<li>CSS</li>
				<li>HTML</li>				
				<li>Wordpress</li>
			</ul>
			<h1>My History</h1>
			<p>OrangeSoda has <span>a great culture</span> in the workplace. They are skilled in their jobs and know how to have fun while working! They had pixel perfect expectations for their web pages. I started learning the <span>fundamentals of choosing excellent color palettes</span> and making good alignment &amp; page structure decisions.</p>
			<p>I made web pages for hundreds of clients using Wordpress. After I finished my work load for the day I would jump online and start <span>practicing HTML &amp; CSS</span>.</p>
	</div>
</div>
