<div class="company-container universityofutah">
	<div class="header">	
		<img src="assets/universityofutah.png"/>
	</div>
	<div class="body">
			<ul>
				<li>Locke, Walzer, Sandel, Hobbes</li>
				<li>Aristotle & Plato</li>
				<li>Kierkegaard</li>
				<li>Kant</li>
				<li>Krishnamutri</li>
				<li>Wittgenstein & Chomsky</li>
				<li>Lao Tzu, Confucious, Zhuangzi</li>				
			</ul>		
			<h1>My Degree</h1>
			<p>I chose to study philosophy to improve the way I think and reason all the while knowing that it wouldn't directly lead me to my career. I didn't know my work passion was in coding at the time.</p>
			<p>I knew I was going to need more education. I was fine with that because I liked learning and understood the value of self education in the market place. But I wanted training in how to be a good thinker.</p>		
	</div>
</div>
