<div class="company-container bluemarketing">
	<div class="header">	
		<img src="assets/BLUE-marketing-logo.png"/>
	</div>
	<div class="body">
			<h1>My Experience</h1>
			<ul>
				<li>WordPress</li>
				<li>SEO Keyword Research & Analysis</li>				
				<li>Sales</li>
			</ul>
			<h1>My History</h1>
			<p>I transitioned into Blue Marketing Firm as a salesman. I had sold cars, fine jewelry and some door-to-door products. The company opened up a new branch in SLC.</p>
			<p>It was there that I started becoming dabbling in building websites. We used Wordpress for all the sites. I learned SEO & built 3-4 wordpress sites. <span>I started to notice I liked web stuff more than sales</span>, but I never made the leap into tech until my older brother, who also codes, gave me some encouragement and direction.</p>
	</div>
</div>