<div class="company-container bluemarketing">
	<div class="header">	
		<img src="assets/BLUE-marketing-logo.png"/>
	</div>
	<div class="body">
			<h1>My Experience</h1>
			<ul>
				<li>WordPress</li>
				<li>SEO Keyword Research & Analysis</li>				
				<li>Sales</li>
			</ul>
			<h1>My History</h1>
			<p>I transitioned into Blue Marketing Firm as a salesman. I had experience selling cars, fine jewelry and some door-to-door products.</p>
			<p>It was there that I started dabbling in building websites. We used Wordpress for all our sites. I learned the basics of the web, SEO &amp; then built 3-4 wordpress sites.</p>
			<p><span>I started to notice I liked web stuff more than sales</span>, but I never made the leap into dev until my older brother, who also codes, gave me some encouragement and direction.</p>
	</div>
</div>