<div class="company-container moneydesktop">
	<div class="header">
		<img src="http://www.moneydesktop.com/img/logos/logo-md.svg?" />
	</div>
	<div class="body">
			<h1>My Experience</h1>
			<ul>
				<li>CSS 1, 2, 3</li>
				<li>HTML</li>				
				<li>Javascript, Backbone,</li>
				<li>jQuery, Jasmine & Require.js</li>
				<li>Ruby on Rails</li>
				<li>Git</li>
			</ul>
			<h1>My History</h1>
			<p>MoneyDesktop is an amazing company! I've never seen such dedication to one's trade as those who work for MD.</p>
			<p>I was the HTML/CSS specialist. I wrote <span>cross-browser CSS (SCSS) for Chrome, Firefox and IE 7,8,9</span>. I also wrote the HTML emails which required testing in every browswer and email client combination.</p>
			<p>It was in this environment that I learned had my first experience with <span>Javascript and Git</span>. And it was this environment where <span>I started discovering the fundamental principles</span> of well written code.</p>
	</div>
</div>