<div class="company-container universityofutah">
	<div class="header">	
		<img src="assets/universityofutah.png"/>
	</div>
	<div class="body">
			<ul>
				<li>Locke, Walzer, Sandel, Hobbes</li>
				<li>Aristotle & Plato</li>
				<li>Kierkegaard</li>
				<li>Kant</li>
				<li>Krishnamutri</li>
				<li>Wittgenstein & Chomsky</li>
				<li>Lao Tzu, Confucious, Zhuangzi</li>				
			</ul>		
			<h1>My Degree</h1>
			<p>I chose to study philosophy knowing that it wouldn't directly lead me to a high paying career. I knew I was going to need more education. I was fine with that. I wanted to change the way I thought and reasoned. I wanted training in how to be a good thinker, you could say.</p>
			<p>My dad always taught me to start my own business, like he did, if I wanted to gain wealth.</p>
			<h1>What I Became?</h1>			
	</div>
</div>
