<% content_for :header do %>
  <%= javascript_include_tag 'require', 'data-main' => 'assets/Views/home' %>
<% end %>

<div class="window-background">
</div> 

<div class="window-container">
	<div class="header-container">
		<nav class="popup-window main-nav-container">
			<ul class="btn-container-horizontal align-top">
				<li class="btn "><a href="">Why Me?</a></li>
				<li class="btn "><a href="">Accomplishments</a></li>
				<li class="btn "><a href="">Current Projects</a></li>
				<li class="btn "><a href="">References</a></li>
			</ul>
		</nav>
	</div>
	<div class="body-container">
		<div class="popup-window sub-window extended-width location"></div>
		<div class="popup-window sub-window specialty">
			<section>
				<div class="specialty-header">
					<img src="assets/specialty-header-1.jpg">
				</div>
				<ul class="dresser">
					<li class="drawer">
						<img src="assets/html5_icon.png">
						<h1>HTML5</h1>
						<span>Experience</span>
						<p>I can write HTML5 and I can also not use HTML5, say for emails. HTML5 isn't so fancy there. I have a broad spectrum of HTML experience, both old school and new. Good thing I'm not limited to HTML5.</p>
					</li>
					<li class="drawer">
						<img src="assets/css3_icon.png">
							<h1>CSS</h1>
							<span>Libraries</span>
							<p>I've written CSS/SCSS that has worked in all browsers. I believe, CSS needs to be easily discoverable, modular and consistent. At MondeyDesktop I started writing CSS standards and libraries for the Dev team. </p>
					</li>
					<li class="drawer">
						<img src="assets/javascript_icon.png">
							<h1>JavaScript</h1>
							<span>Core</span>
							<p>My Javascript mentor had me learn core Javascript. "What is happening when you write 'function ()', 'new', 'var'?" he would ask. From this core knowledge, I have added jQuery, Underscore, Backbone, RequireJS, & D3.</p>
					</li>
					<li class="drawer">
						<img src="assets/ruby_icon.png">
							<h1>Ruby/Rails</h1>
							<span>Education</span>
							<p>This site is build using Ruby and Rails. I know the basics, but have yet to learn the Tao of Ruby & Rails...but I want to. Ruby-coding is fun. :)</p>
					</li>
				</ul>
			</section>
		</div>

		<div class="popup-window sub-window college"></div>
		<div class="popup-window sub-window major"></div>
		<div class="popup-window sub-window work-history"></div>
		<div class="popup-window sub-window project-gallery"></div>
		
		<div class="popup-window bio">
			<div class="bio-header"><img src="assets/bio-header-1.jpg"></div>
			<div class="bio-body">
				<div class="img-circle"><img src="assets/bio-1.jpg"></div>
				<div class="bio-body-title">
					<span>Taylor Allred</span>
					The major value in life is not what you get. The major value in life is what you become. &nbsp&nbsp&nbsp Jim Rohn
				</div>
					<div class="info-row location popoverButton"><span>Location</span>Utah, USA</div>
					<div class="info-row specialty popoverButton"><span>Specialty</span>Front End Developer</div>
					<div class="info-row college popoverButton"><span>College</span>University of Utah B.A.</div>
					<div class="info-row major no-border popoverButton"><span>Major</span>Philosophy &amp; Linguistics</div>
			</div>
			<div class="bio-footer">
				<div class="split-half button popoverButton work-history">Work History</div>
				<div class="split-half button popoverButton project-gallery">Project Gallery</div>
			</div>
		</div>


		<div class="data-point-container">
			<div class="dynamic-point custom-alignment"></div>
		</div>

	</div>
	</div>
	<div class="footer-container"></div>
</div>