<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Sent on: <%= Date.today.strftime("%B") %> <%= Time.now.day %><br/>
    Sent from: <%= @from %><br/>
    <%= @message %>
  </body>
</html>