/************** HTML TAGS *******************/
html {
	font-family: 'Lato', sans-serif;;
	font-weight: 100;
	background-color: $gray5;
	background-image: url('bg-texture.png');
	background-repeat: repeat;

}
ul.btn-container-vertical {
	position: relative;
	li {
		display: block;
	}
}
ul.align-top {
	border-bottom: 1px solid rgba(255, 255, 255, 0.24);
	&:after {
		position: absolute;
		bottom: -2px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.13);
		left: 0;
		right: 0;
		content: '';
	}
}
ul.align-middle { 

}
ul.align-bottom { 

}
ul.no-border {
	border: none;
}

li.btn {
	display: inline-block;
	padding: 15px 40px;
}
a,
a:visited {
	color: white;
	text-decoration: none;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
}
a:hover {

}
input {
	border: none;
	background-color: transparent;
	font-size: 14px;
}
span {
	&.title {
		display: block;
		font-size: 22px;
		line-height: 1.5em;
		color: white;
	}
	&.quote {
		display: block;
		line-height: 1.3em;
		padding: 5px 20px;
		font-size: 14px;
		color: white;
		background-color: $gray6 ;
		box-shadow: 3px 3px 1px $gray8;
	}
}
/******************** TOOLS-CONTAINERS *******************/
.window-background {
	background: url('/assets/bg-1.jpg') no-repeat center top fixed;
	width: 100%;
	background-size: $homepageWidth;
	@include coverAll;
}
.window-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.station-container {
	position: relative;
	width: $homepageWidth;
	min-height: 100px;
}
.popup-station-container {
	height: 600px;
	margin: 630px auto;
}
.popup-window {
	position: relative;
	display: block;
	background: $gray6;
	box-shadow: 4px 4px 0px $box-shadow-color;
	overflow: hidden;
	&:after {

	}
}
.popup-window {

}
.map-point-hover-container {
	position: absolute;
	padding: 0 10px 10px 10px;
	box-sizing: border-box;
	border: 1px $gray5 solid;
	background-color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	&:after {
		//css triangle
	}
	&:before {
		//css triangle
	}
	img {
		width: 100%;
		height: 63px;
	}
}
.destination-info {
	color: $blue2;
	display: block;
	line-height: 1.7em;
	@include transition(0.4s);
	transition-property: color;
	&:hover {
		@include transition(0.4s);
		transition-property: color;
		cursor: pointer;
		color: $blue1;
	}
}
.contact-container {
	display: none;
	position: fixed;
	top: 106px;
	right: 0;
	background-color: white;
	height: 200px;
	width: 82px;
	&.expanded {
		width: 400px;
		height: 400px;
		img {
			float: left;	
			width: 100%;
		}
	}
}
.contact-container-footer {
	margin: 100px auto 20px;
	min-height: 800px;
	background-image: url('tiger-footer-3.jpg');

	background-position: center top;
	background-size: 100% auto;
	border-bottom: 5px solid $box-shadow-color;
	.body {
		position: relative;
		padding: 20px;
		margin: 50px 20px auto 650px;
		border-radius: 1px;
		background-color: rgba(255, 255, 255, 0.47);
		color: white;
		font-size: 36px;
/*		box-shadow: inset -1px 0 1px rgb(236, 236, 236),
								inset 0 1px 1px  rgb(216, 216, 216),
								inset 1px 0 1px  rgb(216, 216, 216),
								inset 0 -1px 1px rgb(162, 162, 162);
		border: 1px solid rgb(150, 150, 150);*/
	}
	.form-error {
		position: absolute;
		background-color: #CA973F;
		left: 0;
		right: 0;
		bottom: -39px;
		padding: 10px;
		font-size: 19px;
	}
	label {
		display: inline-block;
		width: 89px;
		color: black;
		font-size: 22px;
		font-weight: bold;
		text-align: right;
		line-height: 1.8em;
		vertical-align: sub;	
	}
	input {
		border-bottom: 1px solid white;
		width: 387px;
		line-height: 1.8em;
		color: $gray5;
	}
	input[type=submit] {
		width: auto;
		padding: 5px 10px;
		margin-left: 422px;
		background-color: $gray7;
		color: white;
		border:none;
		@include nograyscale;
		@include transition(0.8s);
		transition-property: background-color;				
	}
	input[type=submit]:hover {
		background-color: $gray5;
		color: white;
		@include nograyscale;
		@include transition(0.2s);
		transition-property: background-color;		
	}
	input:active,
	input:focus {
		outline-color: white
	}
}
/************** TOOLS-COMPONENTS *******************/

.data-point-container {
	position: relative;
	width: 0;
	height: 0;
	margin: 0 auto;
}
.dynamic-point,
.dynamic-point:before,
.dynamic-point:after {
	height: 8px;
	width: 8px;
	border-radius: 8px;
	content: '';
	position: absolute;
	background-color: $dynamicPointColor;
	&.custom-alignment {

	}
	&:before {
		background-color: $blue2;
	}
	&:after {
		background-color: $blue2;
	}
	&:hover {
		background-color: rgb(255, 174, 31);
		@include transition(0.2s);
		transition-property: left;	
		&:before {
			left: -3px;
			background-color: $blue1;
			@include transition(0.2s);
			transition-property: left;	
		}
		&:after {
			left: 3px;
			background-color: $blue1;
			@include transition(0.2s);
			transition-property: left;	
		}
	}
}

.img-circle {
	width: 100px;
	height: 100px;
	border-radius: 60px;
	overflow: hidden;
	border: 2px solid rgb(68, 68, 68);
	position: absolute;
	//-webkit-filter: grayscale(1); optional gray filter....?
	img {
		width: 149%;
		margin-left: -33px;
		@include transition(1s);
		&:hover {
			@include transition(1s);
			width: 165%;
		}
	}
}
.img-circle-sml {
	@extend .img-circle;
	width: 30px;
	height: 30px;
}
.info-row {
	display: block;
	padding: 0 10px;
	margin: 0 15px;
	line-height: 2.2em;
	font-size: 14px;
	border-bottom: 1px $gray3 dotted;
	color: $blue2;
	@include transition(0.4s);
	transition-property: color;
	&:hover {
		@include transition(0.4s);
		transition-property: color;
		cursor: pointer;
		color: $blue1;
	}
	span {
		color: $gray2;
		text-transform: uppercase;
		width: 37%;
		display: inline-block;
		&:hover {
			cursor: default;
		}
	}

}
.split-half {
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	&:first-child {
		border-right: 1px solid $gray3;
		width: 50.1%;
	}
	&:nth-child(2n+1) {

	}
	&.button {
		@include transition(0.3s);
		transition-property: top, left, box-shadow, background-color;
		position: absolute;
		top: 0;
		left: 175px;
		&:first-child {
			left: 0;
			&:hover {
				@include transition(0.3s);
				transition-property: top, left, background-color;
				left: -4px;
			}
			&:active{
				@include transition(0.3s);
				transition-property: top, left,background-color;
				left: 0;
			}
		}
		&:hover {
			@include transition(0.3s);
			transition-property: top, left,background-color;
			top: -4px;
			left: 171px;
		}
		&:active {
			@include transition(0.1s);
			transition-property: top, left, box-shadow,background-color;
			top: 0;
			left: 175px;
			box-shadow: none;
		}
	}
}

.button {
	line-height: 4em;
	height: 55px;
	text-align: center;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		background: $gray5;
		box-shadow: 4px 4px $gray7;
	}
}
.dresser {
	position: absolute;
	bottom: 0;
}
.drawer {
	position: relative;
	border-top: 1px solid $gray2;
	overflow: hidden;
	@include transition(0.5s);
	transition-property: height, color;
	background: $gray6;
	height: 44px;
	&:hover {
		cursor: pointer;
	}
	&.open {
		@include transition(0.5s);
		transition-property: height;
		overflow-y: auto;
		height: 134px;
		background: $gray6;
		p {
			@include transition(2s);
			transition-property: color;
			color: $gray3;
		}
	}
	&.extended-height {
		min-height: 135px;
		p {
			color: $gray3;
		}
	}	
	h1 {
		display: inline-block;
		font-size: 1.2em;
		line-height: 2.2em;
		color: white;
		padding-left: 75px;
		width: 100px;
		&:hover + span {
			@include transition(0.5s);
			transition-property: color;
			color:  $blue1;
		}
	}
	span {
		margin-left: 80px;
		color:  $blue2;
		font-size: 14px;
		@include transition(0.5s);
		transition-property: color;		
		&:before {
			position: absolute;
			left: -5px;
		}
		&:hover {
			@include transition(0.5s);
			transition-property: color;
			color:  $blue1;
		}
	}
	img {
		margin-top: 6px;
		margin-left: 20px;
		width: 30px;
		height: 30px;
		position: absolute;
	}
	p {
		@include transition(1.5s);
		transition-property: color;
		font-size: 14px;
		color: $gray7;
		line-height: 1.2em;
		padding: 0 30px;
	}
}
.grayscale {
		@include grayscale;
		@include transition(0.8s);
		transition-property: filter;
}
.hidden {
	display: none;
}
/******************** SPECIFICS *******************/
.showcase-section {
	color: $blue1;
	font-size: 12px;
	padding: 10px 0;
	line-height: 1.5em;
	border-bottom: 1px solid $gray4;
	h1 {
		color: $gray1;
		font-size: 18px;
	}
}

.main-nav-container {
	margin: 0 auto;
	max-width: 1300px;
	width: 70%;
	min-width: 840px;
	text-align: center;
	ul, ul:after {
		border: none;
	}
}
.popup-header {
	height: 130px;
}
.bio {
	position: absolute;
	width: 350px;
	height: 400px;
	top: $popoverBioTop;
	left: $popoverBioLeft;
	overflow: visible;
	z-index: 1;
	.img-circle {
		top: 106px;
		left: 16px;
	}
	.bio-body {
		border-bottom: 1px solid $gray2;
	}
	.bio-body-title {
		min-height: 74px;
		padding: 5px 20px 10px 137px;
		color: $blue1;
		font-size: 11px;
		line-height: 1.3em;
		border-bottom: 1px solid $gray2;
		border-top: 1px solid $gray2;
	}
	.bio-footer {
		position: relative;
	}
}
.sub-window {
	position: absolute;
	width: 350px;
	height: 400px;
	top: $popoverBioTop;
	left: $popoverBioLeft;
	@include transition(0.5s);
	transition-property: left;
	transition-timing-function: ease-out;
	&.open {
		@include transition(0.5s);
		transition-property: left;
		transition-timing-function: ease-out;
		left: $popoverBioLeftOpen;
	}
	&.open.extended-width {
		width: 640px;
	}
	.specialty-header {
		position: absolute;
	}
}
.sub-window.college {
	background: url('green-plant-1.jpg');
	overflow: auto;
	&.open {
		img {
		-webkit-filter: blur(3px);
			 -moz-filter: blur(3px);
				 -o-filter: blur(3px);
				-ms-filter: blur(3px);
						filter: blur(3px);	
		}
	}
	img {
		margin-top: -220px;
	}
	.specialty-header {
		margin-top: 220px;
		overflow: hidden;
	}
	span {
		margin-left: 25px;
		margin-right: 25px;
	}
	p {
		padding: 7px 35px;
		line-height: 1.3em;
		font-size: 0.8em;
		color: white;
	}
}
.sub-window.location {
	background: url('world-map.jpg');
	&.open {
		.floating-banner {
			margin-left: -2400px;
		}
		.map-point-hover-container {
			z-index: 1;
		}
	}
	.floating-banner {
		@include transition(30.3s);
		transition-timing-function: linear;
		transition-property: margin-left;
		margin-top: 345px;
		padding-left: 685px;
		color: $gray2;
		white-space: nowrap;
		font-size: 1.1em;
		line-height: 2em;
		display: block;
		border-bottom: 1px dotted $gray3;
		border-top: 1px dotted $gray3;
		background-color: rgba(0, 0, 0, 0.25);
	}
}
.no-blur-background {
	padding-top: 5px;
	margin-top: 220px;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-filter: blur(0px);
		 -moz-filter: blur(0px);
			 -o-filter: blur(0px);
			-ms-filter: blur(0px);
					filter: blur(0px);
}
.work-history-container {
	background: rgba(0, 0, 0, 0.08);
	height: 900px;
	margin: 1350px auto 0;
	padding: 25px;
	box-sizing: border-box;
	* {
		@include user-selecT (none);
	}
	h1 {
		font-size: 24px;
		display: inline-block;
	}
	.title {
		padding-top: 25px;
		height: 55px;
	}
}
.project-gallery-container {
	position: relative;
	background: rgba(0, 0, 0, 0.18);
	height: 800px;
	width: 100%;
	margin: 100px auto 0;
					transform: translate(0, 0);
			-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	@include transition(0.4s); 
	.img-wrapper {
		max-width: 250px;
		border: 3px solid $gray7;
		overflow: hidden;
		position: absolute;
		&:hover {
			width: 250px;					
			img {
				margin-left: -10px;
				width: 100%;
				@include transition(0.4s);
				transition-property: margin-left, width;
				cursor: pointer;
			}
		}
		img {
			width: 250px;	
			@include transition(0.4s);
			transition-property: margin-left, width;		
		}
	}
}

.pre-text,
.post-text {
	display: inline-block;
	vertical-align: top;
	width: 45.4%;
	padding-top: 1.5em;
	span {
		display: none;
		color: rgba(255, 255, 255, 0);
		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 3px 3px 8px #090909, 0px 0px 0px #E6E6E4, 0px 0px 0px #2E2E2E;
		font-weight: bold;
		margin: 0 40px;
	}
}
.curved-text {
	position: relative;
	margin: 0 auto;
	display: inline-block;
	width: 150px;
	height: 101px;
	@include user-selecT(none);
	div {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 0px;
		@include user-selecT(none);
	}
	div:first-child {
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}
	img {
		width: 100px;
		@include user-selecT(none);
		&:hover {
			@include transform-rotate(30deg);
		}
	}
	span {
		color: white;
		@include transform-origin(0px, 80px);
		position: absolute;
		top: -25px;
		left: 50px;
		font-family: "Lucida Console", Monaco, monospace;
		text-shadow: 0px 3px 4px black;
	}
}
$num-letters: 11;
$total-angle: 180;
$root-deg: $total-angle/$num-letters;

@for $i from 1 through $num-letters {
	.l#{$i} {
		@include rotate(($i * $root-deg - 93 - $root-deg/2)+deg);
		@include user-selecT(none);
	}
}
.scrim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	.close-button {
		position: fixed;
		top: 20px;
		right: 20px;
		font-size: 42px;
		color: $gray1;
		padding: 5px;
		&:hover {
			cursor: pointer;
		}
	}
}
.photobox {
	display: block;
	margin-top: 300px;
	padding: 100px;
	@include user-selecT(none);	
	img {
		max-height: 550px;
		max-width: 90%;
		display: block;
		margin: auto;
		@include user-selecT(none);
	}
	.next,
	.prev {
		padding: 5px 10px;
		background-color: $gray7;
		color: $gray1;
		position: absolute;
		top: 50%;
		left: 5%;
		@include user-selecT(none);		
		&:hover {
			cursor: pointer;
			color: $blue1;
		}
	}
	.next {
		left: auto;
		right: 5%;
	}
}
/******************** OVERWRITES *******************/
.no-border {
	border: none;
}





