

$blue1: #85B6DB; 							  //lighter
$blue2: rgb(89, 147, 184);
$blue3: rgb(40, 99, 145);
$blue4: rgb(8, 1, 1); 					//darker

$green1: #72DD94;
$green2: #61CB78;
$green3: #50CA7C;
$green4: #32A453;

$gray0: #F1F1F1;
$gray1: #D6D6D6;
$gray2: #919191;
$gray3: #6F6F6F;
$gray4: #5A5A5A;
$gray5: #414141;
$gray6: #2E2E2E;
$gray7: #252525;

$gray8: rgba(0, 0, 0, 0.8);

$dynamicPointColor: $blue2;

$popoverBioTop: 25px;
$popoverBioLeft: 100px;
$popoverBioLeftOpen: $popoverBioLeft + 375px;

$homepageWidth: 1200px;

$box-shadow-color: $blue3 //rgba(0, 214, 255, 0.93);