.world-align-1 { //Utah
	top: 166px;
	left: 94px;
}
.world-align-2 { //England
	top: 136px;
	left: 287px;
}
.world-align-3 { //Argentina
	top: 310px;
	left: 185px;
}
.world-align-4 { // Iceland
	top: 105px;
	left: 260px;
}
.world-align-5 { // Fiji
	top: 272px;
	left: 609px;
}
.world-align-6 { // Thailand
	top: 214px;
	left: 471px;
}
.world-align-7 { // Nepal
	top: 190px;
	left: 447px;
}
.world-align-8 { // Ecuador
	top: 242px;
	left: 153px;
}
.world-align-9 { // Hawai'i
	top: 203px;
	left: 17px;
}
.world-align-10 { // Baja Mexico
	top: 192px;
	left: 94px;
}
.world-align-11 { // Peru
	top: 263px;
	left: 162px;
}
.world-align-12 { // New England
	top: 172px;
	left: 159px;
}
.world-align-13 { // Chile
	top: 320px;
	left: 163px;
}